@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaDatos Drones Blue and White Robotics</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/Error.css">
    <link rel="manifest" href="~/manifest.json" />
    <link rel="icon" type="image/png" href="/Imagenes/favicon.png">
</head>
<body>
    <header>
        <div class="caja">
            <a href="index.html"><h1><img src="~/Logo/logo-blanco.png" width="190" height="190"></h1></a>
            @*<nav>
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </nav>*@
        </div>
    </header>
    <main class="resultado">
        <div class="rest" style="font-size: 50px; color: white;">
            <p>Usuario y contraseña incorrectos intentelo de nuevo</p>
            <p><a href="/">Iniciar Sesión</a></p>
        </div>
    </main>

    <footer>
        <img src="~/Logo/logo-blanco.png" width="190" height="190">
        <p class="copyright">&copy Copyright Drones Blue and White Robotics - 2024</p>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .then(registration => {
                        console.log('Service Worker registrado con éxito:', registration);
                    })
                    .catch(error => {
                        console.error('Error al registrar el Service Worker:', error);
                    });
            });
        }
    </script>
</body>
</html>