@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/Token.css">
    <link rel="manifest" href="~/manifest.json" />
    <link rel="icon" type="image/png" href="/Imagenes/favicon.png">
</head>
<body>
    <div class="container">
        <h2>Recuperar Contraseña</h2>

        @if (!string.IsNullOrEmpty(ViewBag.MensajeError))
        {
            <p style="color: red;">@ViewBag.MensajeError</p>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
        {
            <p style="color: green;">@ViewBag.Mensaje</p>
        }

        <form action="ObtenerPreguntas" method="post">
            @Html.AntiForgeryToken()
            <div>
                <label for="Correo">Correo:</label>
                <input type="email" id="Correo" name="Correo" required>
            </div>
            <div class="token-button">
                <button id="tokenButton" type="submit" name="submit" value="Enviar Código de Recuperación">Enviar Código de Recuperación</button>
            </div>
        </form>

        <hr>

    </div>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .then(registration => {
                        console.log('Service Worker registrado con éxito:', registration);
                    })
                    .catch(error => {
                        console.error('Error al registrar el Service Worker:', error);
                    });
            });
        }
    </script>
</body>
</html>

