
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Token</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/Token.css">
    <link rel="manifest" href="~/manifest.json" />
    <link rel="icon" type="image/png" href="/Imagenes/favicon.png">
</head>
<body>
    <form action="/Home/Token" method="post">
        <div class="container">
            <h2>Token</h2>

            @if (!string.IsNullOrEmpty(ViewBag.MensajeError))
            {
                <p style="color: red;">@ViewBag.MensajeError</p>
            }
            <label for="codigo">Código de confirmación:</label>
            <input type="text" id="codigo" name="codigoIngresado" required>
            <br>
            <div class="token-button">
                <button id="tokenButton" type="submit">Verificar Código</button>
            </div>
        </div>
    </form>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .then(registration => {
                        console.log('Service Worker registrado con éxito:', registration);
                    })
                    .catch(error => {
                        console.error('Error al registrar el Service Worker:', error);
                    });
            });
        }
    </script>
</body>
</html>
